.home-page {
  padding: 0 1rem;
}

.auth-links {
  display: flex;
  justify-content: space-between;
}

.auth-form {
  width: 35rem;
  margin: 0 auto;
}

.form-group {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  margin-bottom: 1rem;
  font-size: 1.35rem;
}

.error-details {
  margin-top: 10px;
  padding-left: 20px;
  list-style-type: none;
}

.error-details li {
  margin-bottom: 5px;
  font-size: 0.9em;
}

.error-details strong {
  font-weight: 600;
}