.home-page {
  padding: 0 1rem;
}

.auth-links {
  display: flex;
  justify-content: space-between;
}

.auth-form {
  width: 35rem;
  margin: 0 auto;
}

.form-group {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  margin-bottom: 1rem;
  font-size: 1.35rem;
}

.form-btn {
  display: flex;
  justify-content: right;
  padding: 0 1rem;
  margin-bottom: 1rem;
  font-size: 1.35rem;
}
/* Стили ошибок */
.error-container { 
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: #f8d7da;
  color: #571515;
  border: 1px solid #f5c6cb;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.error-content {  
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.error-close {
  align-self: flex-end;
  background: none;
  border: none;
  color: #571515;
  font-size: 16px;
  cursor: pointer;
}

.error-details {
  margin-top: 10px;
  padding-left: 20px;
  list-style-type: none;
}

.error-details li {
  margin-bottom: 5px;
  font-size: 0.9em;
}

.error-details strong {
  font-weight: 600;
}

.form-errors {  
  list-style-type: none;
  padding: 0;
}

/* Стили успешных действий */
.success-container {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.success-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.success-close {
  align-self: flex-end;
  background: none;
  border: none;
  color: #155724;
  font-size: 16px;
  cursor: pointer;
}

.success-detail {
  font-size: 14px;
  color: #155724;
}

/* Стили прочие */
.user-list-header {
  display: flex;
  /* justify-content: space-between; */
}
.user-item{
  display: flex;
  /* justify-content: space-between; */
}

.file-list-header {
  display: flex;
  justify-content: space-between;
}

.file-item {
  display: flex;
  /* justify-content: space-between; */
}
.user-actions {
  display: flex;
  justify-content: space-around;
  width: 17%;
}

.file-actions {
  display: flex;
  justify-content: space-between;
  width: 35%;
}

.file-list-header-span {
  display: flex;
  justify-content: center;
  width: 35%;
}
.list-header-span_1 {
  display: flex;
  justify-content: center;
  width: 7%;
  margin-right: 1rem;
}
.list-header-span_2 {
  display: flex;
  justify-content: center;
  width: 6%;
  margin-right: 1rem;
}
.list-header-span_3 {
  display: flex;
  justify-content: start;
  width: 15%;
  margin-right: 1rem;
}
.list-header-span_4 {
  display: flex;
  justify-content: center;
  width: 25%;
  margin-right: 1rem;
}
.list-header-span_5 {
  display: flex;
  justify-content: center;
  width: 17%;
}